<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where are we off to?</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Let's take a look at your vacation!</h1>
      <br />
      <div class="inputContainer">
        <p>Please enter your reservation ID below:</p>
        <br />
        <input type="text" class="resIdInput" />
        <button class="resIdButton">Search</button>
      </div>
      <div class="vacationContainer"></div>
      <div class="hotelContainer"></div>
      <div class="restaurantsContainer"></div>
      <div class="excursionsContainer"></div>
    </div>
  </body>
  <script src="final.js"></script>
</html>
