<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Hello</h1>
      <div class="navbar">
        <div class="brand">KC Dev Travel Solutions</div>
        <a href="#"></a>
        <div class="links" class="toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

      <div>
        <h3>First Name:</h3>
        <input
          class="firstNameInput inputBox"
          type="text"
          placeholder="first name"
        />
      </div>

      <div>
        <h3>Last Name:</h3>
        <input
          class="lastNameInput inputBox"
          type="text"
          placeholder="last name"
        />
      </div>

      <div>
        <h3>Departure Date</h3>
        <input class="startDateInput inputBox" type="date" />
      </div>

      <div>
        <h3>Arrival Date</h3>
        <input class="endDateInput inputBox" type="date" />
      </div>

      <div>
        <h3>Where to?</h3>
        <input
          class="cityInput inputBox"
          type="text"
          placeholder="destination"
        />
      </div>

      <div>
        <button class="searchButton">Search</button>
      </div>
      <div>
        <button class="submitButton">Submit</button>
      </div>
      <div class="restaurants"></div>
    </div>
  </body>
  <script src="home.js"></script>
</html>
