<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacay Buddy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="homePage">
    <div class="navbar">
      <a class="brand" href="http://localhost:3000/home">Vacay Buddy</a>
      <div class="links">
        <ul>
          <li><a href="http://localhost:3000/check_vacation">See vacation details</a></li>
        </ul>
      </div>
    </div>
    <section class="inputData">
    <div class="container">
    <div class="imageContainer">
       </div>
        <div class="formContainer">
          <div class="firstName">
            <input
              class="firstNameInput inputBox"
              type="text"
              placeholder="First name"
            />
          </div>
          <div class="lastName">
            <input
              class="lastNameInput inputBox"
              type="text"
              placeholder="Last name"
            />
          </div>
          <div class="startDate">
            <input class="startDateInput inputBox" placeholder="departure date" type="date" />
          </div>
          <div class="endDate">
            <input class="endDateInput inputBox" placeholder="return date" type="date" />
          </div>
          <div class="city">
            <input
              class="cityInput inputBox"
              type="text"
              placeholder="Destination"
            />
          </div>
          <div>
            <button class="searchButton">Search</button>
          </div>
        </div>
           <img
            class="thailandImage" src="images/thailandImage.jpg"
            alt=""
          />
      </div>
      </div>
    </section>
    <div class="destinationsContainer">
      <p class="popDestText">Popular Destinations</p>
      <div class="destinationImagesContainer">
        <div class="maldivesContainer countryContainer">
          <p class="countryTitle">Maldives</p>
          <img class="destImage" src="images/dest1.jpg">
        </div>
        <div class="franceContainer countryContainer">
          <p class="countryTitle">France</p>
          <img class="destImage" src="images/dest2.jpg">
        </div>
        <div class="thailandContainer countryContainer">
          <p class="countryTitle">Thailand</p>
          <img class="destImage" src="images/dest3.jpg">
        </div>
        <div class="japanContainer countryContainer">
          <p class="countryTitle">Japan</p>
        <img class="destImage" src="images/dest4.jpg">
        </div>
      </div>
    </div> 
    <div class="welcomeContainer"></div>   
    <div class="hotels"></div>
    <div class="restButtonContainer"></div>
    <div class="restaurants"></div>
    <div class="excursions"></div>
    <div class="restaurants"></div>
    <div class="excursions"></div>
    <div class="finalPageButtonContainer"></div>
    </div>
  </body>
  <script src="home.js"></script>
</html>