<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacay Buddy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;1,100;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="brand">Vacay Buddy</div>
      <a href="#"></a>
      <div class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <div class="links">
        <ul>
          <li><a href="http://localhost:3000/home">Home</a></li>
          <li><a href="http://localhost:3000/check_vacation">Check your Vacation!</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--***************************SPLASHY PAGE********************************************-->
    <section class="splashy">
      <div class="hero">
        <h2>Take a trip....with Vacay Buddy!</h2>
        <br />
      </div>
    </section>
    <br>
    <hr>
    <br>
    <!--*****************************INPUT DATA FORM SECTION*********************************-->
    <section class="inputData">
      <div class="container">
        <div class="picture">
          <img
            src="https://images.unsplash.com/photo-1583491470869-ca0b9fa90216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
            alt=""
          />
        </div>
        <div class="formContainer">
          <button class="checkVacationButton">Check vacation</button>
          <div class="firstName">
            <h3>First Name:</h3>
            <input
              class="firstNameInput"
              type="text"
              placeholder="first name"
            />
          </div>

          <div class="lastName">
            <h3>Last Name:</h3>
            <input
              class="lastNameInput inputBox"
              type="text"
              placeholder="last name"
            />
          </div>

          <div class="startDate">
            <h3>Departure Date</h3>
            <input class="startDateInput inputBox" type="date" />
          </div>

          <div class="endDate">
            <h3>Arrival Date</h3>
            <input class="endDateInput inputBox" type="date" />
          </div>

          <div class="city">
            <h3>Where to?</h3>
            <input
              class="cityInput inputBox"
              type="text"
              placeholder="destination"
            />
          </div>

          <div>
            <button onclick="picture();" class="searchButton">Search</button>
          </div>

        </div>
      </div>
    </section>
<!--************************************PERSONALIZED TRAVEL MESSAGE BELOW***************************-->
<section class="welcoming">      
  <div class="welcomeContainer">
    <!-- <div class="newWelcome"> -->

    <!-- </div> -->
    <!-- <div class="welcomePicture"> -->
      <!-- <img class="cruise" src="https://images.unsplash.com/photo-1499062918700-389fa905494e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1664&q=80" alt=""> -->
    <!-- </div> -->


  </div>
  
  
  
  
  
      
      
      
</section>      
<!--************************************PERSONALIZED TRAVEL MESSAGE ABOVE***************************-->
      <div class="hotels">

        
        

        
      </div>
      <hr>
      <div class="restButtonContainer"></div>
      <div class="restaurants"></div>
      <div class="excursions"></div>
      <div class="restaurants">




      </div>
      
      <div class="excursions">


        
      </div>
      <div class="finalPageButtonContainer"></div>
    </div>
  </body>
  <script src="home.js"></script>
</html>