body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 100%;
}

.picture {
  width: 100%;
}

.formContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: #34d1aa;
}
/**************************NAVBAR STYLING*************************** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #34d1aa;
}

.brand {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle {
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .links li {
    text-align: center;
  }
  .links li a {
    padding: 0.5rem 1rem;
  }
  .links.active {
    display: flex;
  }
}
/**************************NAVBAR STYLING END***********************/

/**************************CLIENT DATA INPUT START******************/

.submitButton {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid rgba (0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  text-transform: none;
  margin-top: 1rem;
}

@media (max-width: 320px) {
  .body {
    display: flex;
    align-items: center;
  }
  .inputData {
    display: flex;
    align-items: center;
  }
}

/*******************************PERSONALALIZED PAGE STARTS BELOW***************************/

.welcoming .welcomeContainer {
  display: flex;
  margin-bottom: 10px;
}

.welcomeParagraph {
  display: flex;
  font-weight: 500;
  color: black;
  font-size: 30px;
}

@media (max-width: 320px) {
  .welcoming {
    display: flex;
    align-items: center;
  }
  .inputData {
    display: flex;
    align-items: center;
  }
  .welcomeParagraph {
    margin-top: 40px;
    height: 250px;
    width: 275px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .cruise {
    display: none;
  }
}

/******************************END PERSONALIZED PAGE**************************************/

/******************************HOTELS BELOW***********************************************/
.hotels {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

.hotelDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.hotelName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
  margin-left: 50px;
}
.hotelAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPrice {
  grid-area: price;
  margin-left: 50px;
}

.hotelAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.hotelDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.hotelDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.restaurantButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

@media (max-width: 770px) {
  .hotelDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .hotelDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .hotelDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .restaurantButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .hotels {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
    margin-top: 50px;

    /* margin-bottom: 200px; */
  }

  .hotelName {
    font-size: 10px;
  }
  .hotelAddress {
    font-size: 10px;
  }
  .hotelPhone {
    font-size: 10px;
  }
  /* .hotelDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
  /* margin-top: 50px;
    margin-bottom: 200px; */
  /* }
  .hotelDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center; */
  /* margin-left: 50px; */
  /* margin-top: 50px;
    margin-bottom: 200px;
  } */
  .restaurantButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* float: right; */
    /* margin-right: 20px; */
  }
}

/******************************HOTELS ABOVE*******************************************/
/******************************RESTAURANT BELOW**************************************/
.restaurants {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

/* .hotelsTitle {
  display: flex;
  flex-direction: column;
} */
.restaurantDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-items: stretch; */
}
.restaurantName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
  margin-left: 50px;
}
.restaurantAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPrice {
  grid-area: price;
  margin-left: 50px;
}

.restaurantAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.restaurantDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.restaurantName {
  grid-area: name;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
}
.restaurantAddress {
  grid-area: address;
}
.restaurantPhone {
  grid-area: phone;
}
.restaurantPrice {
  grid-area: price;
}

.restaurantAddButton {
  grid-area: button;
}

.restaurantDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.restaurantName {
  grid-area: name;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
}
.restaurantAddress {
  grid-area: address;
}
.restaurantPhone {
  grid-area: phone;
}
.restaurantPrice {
  grid-area: price;
}

.restaurantAddButton {
  grid-area: button;
}

.excursionsButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

@media (max-width: 770px) {
  .restaurantDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .restaurantDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .restaurantDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .excursionsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurantDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .restaurantDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .restaurantDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantName {
    font-size: 15px;
  }
  .restaurantAddress {
    font-size: 10px;
  }
  .restaurantPhone {
    font-size: 10px;
  }

  .excursionsButton {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 130px;
    height: 35px;
  }
}
/***************************RESTAURANTS ABOVE*************************/

/*********************EXCURSIONS BELOW********************************/
.excursions {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

/* .hotelsTitle {
  display: flex;
  flex-direction: column;
} */
.excursionDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-items: stretch; */
}
.excursionName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
  margin-left: 50px;
}
.excursionAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPrice {
  grid-area: price;
  margin-left: 50px;
}

.excursionAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.excursionDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.excursionName {
  grid-area: name;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
}
.excursionAddress {
  grid-area: address;
}
.excursionPhone {
  grid-area: phone;
}
.excursionPrice {
  grid-area: price;
}

.excursionAddButton {
  grid-area: button;
}

.excursionDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.excursionName {
  grid-area: name;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
}
.excursionAddress {
  grid-area: address;
}
.excursionPhone {
  grid-area: phone;
}
.excursionPrice {
  grid-area: price;
}

.excursionAddButton {
  grid-area: button;
}

.finalPageButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

@media (max-width: 770px) {
  .excursionDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .excursionDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .excursionDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }
  .finalPageButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  /* .excursions {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
  /* margin-top: 50px;
    margin-left: 20px; */

  /* margin-bottom: 200px; */
  /* }  */

  .excursionDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .excursionDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .excursionDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .excursionName {
    font-size: 15px;
  }
  .excursionAddress {
    font-size: 10px;
  }
  .excursionPhone {
    font-size: 10px;
  }
  /* .hotelDiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
  /* margin-top: 50px;
    margin-bottom: 200px; */
  /* }
  .hotelDiv3 {
    display: flex;
    flex-direction: column;
    align-items: center; */
  /* margin-left: 50px; */
  /* margin-top: 50px;
    margin-bottom: 200px;
  } */
  .finalPageButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* float: right; */
    /* margin-right: 20px; */
  }
}
/*********************EXCURSIONS ABOVE********************************/

/*********************HOTEL FINAL PAGE BELOW********************************/
.hotelDiv {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-items: stretch; */
}

.hotelTitle {
  display: none;
}
.hotelName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
  margin-left: 50px;
}
.hotelAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPrice {
  grid-area: price;
  margin-left: 50px;
}

.hotelDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

@media (max-width: 770px) {
  .hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .hotelDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .hotelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
    margin-top: 50px;
    margin-left: 20px;

    /* margin-bottom: 200px; */
  }

  .hotelName {
    font-size: 15px;
  }
  .hotelAddress {
    font-size: 10px;
  }
  .hotelPhone {
    font-size: 10px;
  }

  .hotelDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* float: right; */
    /* margin-right: 20px; */
  }
}

/*********************HOTEL FINAL PAGE ABOVE********************************/

/*********************RESTAURANT FINAL PAGE BELOW***************************/
@media (max-width: 770px) {
  .restaurantContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .restaurantDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .restaurantContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
    margin-top: 50px;
    margin-left: 20px;

    /* margin-bottom: 200px; */
  }

  .restaurantDiv1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantName {
    font-size: 15px;
  }
  .restaurantAddress {
    font-size: 10px;
  }
  .restaurantPhone {
    font-size: 10px;
  }

  .restaurantDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* float: right; */
    /* margin-right: 20px; */
  }
}

.restaurantDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-items: stretch; */
}

/* .restaurantTitle {
  display: none;
} */
.restaurantName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
  margin-left: 50px;
}
.restaurantAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPrice {
  grid-area: price;
  margin-left: 50px;
}

.restaurantDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

/*********************RESTAURANT FINAL PAGE ABOVE***************************/

/*********************EXCURSIONS FINAL PAGE BELOW***************************/
.excursionDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
  /* margin-left: auto;
  margin-right: auto; */
  /* justify-items: stretch; */
}

.excursionsContainer {
  margin-bottom: 20px;
}

/* .excursionTitle {
  display: none;
} */
.excursionName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
  margin-left: 50px;
}
.excursionAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
  justify-content: center;
}
.excursionPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPrice {
  grid-area: price;
  margin-left: 50px;
}

.excursionDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

@media (max-width: 770px) {
  .excursionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .excursionDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 320px) {
  .excursionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
    margin-top: 50px;
    margin-left: 20px;

    /* margin-bottom: 200px; */
  }

  .excursionName {
    font-size: 15px;
  }
  .excursionAddress {
    font-size: 10px;
  }
  .excursionPhone {
    font-size: 10px;
  }

  .excursionDeleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    /* float: right; */
    /* margin-right: 20px; */
  }
}

/*********************EXCURSIONS FINAL PAGE ABOVE***************************/
