* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/**************************NAVBAR STYLING*************************** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.brand {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.links li:hover {
  background-color: #555;
}

.toggle {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .toggle {
    display: flex;
  }
  .links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .links li {
    text-align: center;
  }
  .links li a {
    padding: 0.5rem 1rem;
  }
  .links.active {
    display: flex;
  }
}
/**************************NAVBAR STYLING END***********************/

/***************************SPLASHY SECTION**************************/
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1557956388-2392d223ea21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

h2 {
  position: relative;
  color: #ffffff;
  font-size: 4rem;
  line-height: 0.9;
  text-align: center;
}

/**************************CLIENT DATA INPUT START******************/
.inputData .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.inputData .container .picture {
  flex: 1 1 40rem;
}

.container .picture img {
  max-width: 100%;
}
.inputData .conatainer .formContainer {
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  max-width: 50%;
  flex-direction: column;
}

.inputData .container .formContainer .firstNameInput.inputBox {
  padding: 0.5rem 0;
}

.inputData .container .formContainer .firstNameInput input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.inputData .container .formContainer .lastNameInput.inputBox {
  padding: 0.5rem 0;
}

.inputData .container .formContainer .lastNameInput.inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;

  text-transform: none;
}

.inputData .container .formContainer .startDateInput.inputBox {
  padding: 0.5rem 0;
}

.inputData .container .formContainer .startDateInput.inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.inputData .container .formContainer.endDateInput.inputBox {
  padding: 0.5rem 0;
}

.inputData .container .formContainer .endDateInput.inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.inputData .container .formContainer.cityInput.inputBox {
  padding: 0.5rem 0;
}

.inputData .container .formContainer .cityInput.inputBox input {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.searchButton {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid rgba (0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  text-transform: none;
  margin-top: 1rem;
}

.submitButton {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid rgba (0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  text-transform: none;
  margin-top: 1rem;
}
/*******************************PERSONALALIZED PAGE STARTS BELOW***************************/

.welcoming .welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  margin-bottom: 10px;
}

.welcoming .welcomeContainer .welcomePicture {
  flex: 1 1 40rem;
}

.newWelcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cruise {
  width: 50%;
}

.welcomeParagraph {
  color: blue;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
}

.image1 {
  height: 150px;
  width: 300px;
  flex-direction: column;
}

.image2 {
  height: 150px;
  width: 300px;
  flex-direction: column;
}

/******************************END PERSONALIZED PAGE**************************************/

/******************************HOTELS BELOW***********************************************/
.hotels {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

/* .hotelsTitle {
  display: flex;
  flex-direction: column;
} */
.hotelDiv1 {
  display: grid;
  height: 200px;
  width: 650px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.hotelDiv2 {
  display: grid;
  height: 200px;
  width: 650px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.hotelDiv3 {
  display: grid;
  height: 200px;
  width: 650px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

/* .hotelImageContainer {
  display: flex;
}

.hotelInfoColumn1 {
  display: flex;
  flex-direction: column;
} */

/******************************HOTELS ABOVE*******************************************/
