body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka", sans-serif;
}

/* **** HOME PAGE **** */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.homePage {
  width: 100%;
}

.thailandImage {
  width: 80%;
  border-radius: 20px;
}

.imageText {
  position: absolute;
  top: 20px;
  left: 20%;
  background-color: rgba(0, 136, 136, 0.432);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
  font-size: 400%;
  border-radius: 15px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.formContainer {
  display: flex;
  font-size: 10px;
  padding: 0px;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 10px;
  background-color: #34d1aa;
  margin: 10px;
  height: 50px;
  align-items: center;
}

.inputBox {
  border: none;
  font-family: "Fredoka", sans-serif;
  border-radius: 7px;
  height: 20px;
  padding: 4px;
  margin: 7px;
}

.searchButton {
  border: none;
  color: white;
  background-color: #34d1aa;
  border-radius: 7px;
  font-family: "Fredoka", sans-serif;
  font-size: 20px;
}

.popDestText {
  color: #34d1aa;
  margin-left: 10%;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
}

.countryContainer {
  width: 20.5%;
}

.countryTitle {
  color: #34d1aa;
  font-weight: 300;
  font-size: 22px;
}

.destImage {
  width: 100%;
  border-radius: 9px;
  margin: 0px;
  padding: 0px;
}

.destinationImagesContainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 7%;
  margin-right: 7%;
}
/**************************NAVBAR STYLING*************************** */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #34d1aa;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 7px;
}

.brand {
  font-size: 30px;
  margin-left: 20px;
  font-weight: 420;
  text-decoration: none;
  color: #34d1aa;
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: #34d1aa;
  display: block;
  padding: 7px;
  border-radius: 7px;
  margin-right: 10px;
  border: 1.5px solid #34d1aa;
}

/**************************CLIENT DATA INPUT START******************/

.submitButton {
  width: 100%;
  padding: 0.5rem;
  border: 0.1rem solid rgba (0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  text-transform: none;
  margin-top: 1rem;
}

/*******************************PERSONALALIZED PAGE STARTS BELOW***************************/

.welcoming .welcomeContainer {
  display: flex;
  margin-bottom: 10px;
}

.welcomeParagraph {
  display: flex;
  font-weight: 500;
  color: black;
  font-size: 30px;
}

/******************************HOTELS BELOW***********************************************/
.hotels {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

.hotelDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.hotelName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
  margin-left: 50px;
}
.hotelAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPrice {
  grid-area: price;
  margin-left: 50px;
}

.hotelAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.hotelDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.hotelDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hotelName {
  grid-area: name;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
}
.hotelAddress {
  grid-area: address;
}
.hotelPhone {
  grid-area: phone;
}
.hotelPrice {
  grid-area: price;
}

.hotelAddButton {
  grid-area: button;
}

.restaurantButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

/******************************RESTAURANT BELOW**************************************/

.restaurants {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

.restaurantDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.restaurantName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
  margin-left: 50px;
}
.restaurantAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPrice {
  grid-area: price;
  margin-left: 50px;
}

.restaurantAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.restaurantDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.restaurantName {
  grid-area: name;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
}
.restaurantAddress {
  grid-area: address;
}
.restaurantPhone {
  grid-area: phone;
}
.restaurantPrice {
  grid-area: price;
}

.restaurantAddButton {
  grid-area: button;
}

.restaurantDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.restaurantName {
  grid-area: name;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
}
.restaurantAddress {
  grid-area: address;
}
.restaurantPhone {
  grid-area: phone;
}
.restaurantPrice {
  grid-area: price;
}

.restaurantAddButton {
  grid-area: button;
}

.excursionsButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

/*********************EXCURSIONS BELOW********************************/
.excursions {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 50px;
}

.excursionDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.excursionName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
  margin-left: 50px;
}
.excursionAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPhone {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPrice {
  grid-area: price;
  margin-left: 50px;
}

.excursionAddButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.excursionDiv2 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.excursionName {
  grid-area: name;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
}
.excursionAddress {
  grid-area: address;
}
.excursionPhone {
  grid-area: phone;
}
.excursionPrice {
  grid-area: price;
}

.excursionAddButton {
  grid-area: button;
}

.excursionDiv3 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.excursionName {
  grid-area: name;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
}
.excursionAddress {
  grid-area: address;
}
.excursionPhone {
  grid-area: phone;
}
.excursionPrice {
  grid-area: price;
}

.excursionAddButton {
  grid-area: button;
}

.finalPageButton {
  margin-top: 40px;
  margin-bottom: 40px;
  float: right;
  margin-right: 20px;
}

/*********************HOTEL FINAL PAGE BELOW********************************/
.hotelDiv {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.hotelTitle {
  display: none;
}
.hotelName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.hotelImg {
  grid-area: img;
}

.hotelRating {
  grid-area: rating;
  margin-left: 50px;
}
.hotelAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.hotelPrice {
  grid-area: price;
  margin-left: 50px;
}

.hotelDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

/*********************RESTAURANT FINAL PAGE BELOW***************************/

.restaurantDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.restaurantName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.restaurantImg {
  grid-area: img;
}

.restaurantRating {
  grid-area: rating;
  margin-left: 50px;
}
.restaurantAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.restaurantPrice {
  grid-area: price;
  margin-left: 50px;
}

.restaurantDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

/*********************EXCURSIONS FINAL PAGE BELOW***************************/
.excursionDiv1 {
  display: grid;
  height: 200px;
  width: 700px;
  grid-template-areas:
    "img img name rating"
    "img img address price"
    "img img phone button";
  grid-template-columns: 220px;
  grid-template-rows: 80px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.excursionsContainer {
  margin-bottom: 20px;
}

.excursionName {
  grid-area: name;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
}

.excursionImg {
  grid-area: img;
}

.excursionRating {
  grid-area: rating;
  margin-left: 50px;
}
.excursionAddress {
  grid-area: address;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
  justify-content: center;
}
.excursionPhoneNumber {
  grid-area: phone;
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  margin-left: 50px;
}
.excursionPrice {
  grid-area: price;
  margin-left: 50px;
}

.excursionDeleteButton {
  grid-area: button;
  margin-left: 50px;
  width: 50px;
  height: 30px;
}

.excursionDeleteButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
