<%- include('../templates/header')-%>

<nav class="navbar">
  <div class="brand">KC Dev Travel Solutions</div>
  <a href="#"></a>
  <div class="links" class="toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<form class="form" action="">
  <div class="firstNameInput inputBox">
    <h3>First Name:</h3>
    <input type="text" placeholder="first name" />
  </div>
  <div class="lastNameInput inputBox">
    <h3>Last Name:</h3>
    <input type="text" placeholder="last name" />
  </div>
  <div class="startDateInput inputBox">
    <h3>Departure Date</h3>
    <input type="date" />
  </div>
  <div class="endDateInput inputBox">
    <h3>Arrival Date</h3>
    <input type="date" />
  </div>
  <div class="cityInput inputBox">
    <h3>Where to?</h3>
    <input type="text" placeholder="destination" />
  </div>
  <div class="button">
    <button type="submit">Submit</button>
  </div>
</form>

<%- include('../templates/footer')-%>
